{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="forms-section">
      <h1>Change Password?</h1>
      
      <!-- Form 1: Text Input -->
      <form method="post">

        {% csrf_token %}

        <label>Old Password:</label>
        <input type="password" name="old-psw" required>
        <label>New Password:</label>
        <input type="password" name="new-psw" required>
        <div class="p-info">
          <ul>
              <li>Your Password can't be too similar to your other personal account.</li>
              <li>Your Password must contain atleast 8 characters.</li>
              <li>Your Password can't be a comonly use password.</li>
          </ul>
      </div>
        <label>Confirm New Password:</label>
        <input type="password" name="new-cpsw" required>
        
        <button type="submit">Confirm Changes</button>
      </form>
      
      <div class="profile-footer">
        <a href="/" style="color: #1c4e80;"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
        <a href="/logout/" style="color: #1c4e80;"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a>
      </div>
      
    </div>
  </div>

{% endblock %}